RewriteEngine On

# RewriteBase https://clothdrob.com/landing1
RewriteBase /test/clothdrob/landing1/

# Landing without slug
RewriteRule ^$ index.php [L]

# Landing with slug
RewriteRule ^([^/]+)/?$ index.php?slug=$1 [L,QSA]