RewriteEngine On

# RewriteBase https://clothdrob.com/landing4
RewriteBase /test/clothdrob/landing4/

# Landing without slug
RewriteRule ^$ index.php [L]

# Landing with slug
RewriteRule ^([^/]+)/?$ index.php?slug=$1 [L,QSA]